<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css' ) }}">
    <title>PROJECT X</title>
    </head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="shiroko.mp4" type="video/mp4">
      </video>
    {% block konten %}   
    {% endblock %}
    <script>
        // Get the video
        var video = document.getElementById("myVideo");
        
        // Get the button
        var btn = document.getElementById("myBtn");
        
        // Pause and play the video, and change the button text
        function myFunction() {
          if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
          } else {
            video.pause();
            btn.innerHTML = "Play";
          }
        }
        </script>
</body>
</html>